{% extends 'base.html' %}
{% block content %}

<br>

{% if user.is_authenticated %}

{% else %}
<div class="col-md-4 offset-md-4">
  <div class="login-container shadow-sm p-3 mb-5 bg-body-tertiary rounded">
    <h1>Login</h1>
    <br>
    <form method="POST" action="{%url 'home' %}">
      {% csrf_token %}

      <div class="row mb-3">
        <div class="sm-10">
          <input type="username" class="form-control" name="username" id="inputUsername" placeholder="Username">
        </div>
      </div>
      <div class="row mb-3">
        <div class="sm-10">
          <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Password">
        </div>
      </div>
      <br>
      <button type="submit" class="btn btn-secondary">Login</button>
    </form>
  </div>
  <div class="card">
    <div class="card-body text-center">
      New to here? <a href="{%url 'register_user' %}">Create an account.</a>
    </div>
  </div>
</div>
  
{% endif %}

{% endblock %}